---
layout: default
title: Home
---

<!-- Content -->
<section class="container article">
  <div class="container article-header">
    <h2 class="article-title">{{page.title}}</h2>
    <small class="container date">{{page.date | date_to_string}}</small>
    <div class="container categories">
      {% for c in page.categories %}
      <a href="#!" class="container category">{{c}}</a>
      {% endfor %}
    </div>
  </div>
</section>

<div class="articles text-start text-dark container mb-3">
  {% for post in paginator.posts %}
  <article class="article col card card-body mb-3">
    <h2 class="article-title card-title">{{page.title}}</h2>
    <small class="date card-text">{{post.date | date_to_string}}</small>
    <div class="row align-items-start">
      {% for c in post.categories %}
      <div class="m-1 categories col-auto badge text-bg-dark">
        <a class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover" href="#!" data-base-url="{{site.baseurl}}" class="category">{{c}}</a>
      </div>
      {% endfor %}
    </div>
  </article>
  {% endfor %}
</div>

<!-- Pagination links -->
<nav class="pagination justify-content-center">
  {% if paginator.previous_page %}
  <li class="page-item">
    <a class="page-link link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover" href="{{ paginator.previous_page_path }}">Previous</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link">Previous</a>
  </li>
  {% endif %}
  <li class="page-item"><a class="page-link link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">
      {{ paginator.page }} of {{ paginator.total_pages }}</a>
  </li>
  {% if paginator.next_page %}
  <li class="page-item"><a href="{{ paginator.next_page_path }}" class="next page-link link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-0-hover">Next</a></li>
  {% else %}
  <li class="page-item disabled">
    <a class="page-link">Next</a>
  </li>
  {% endif %}
</nav>