<footer class="footer">
  <p>&copy; 2022 - {{ 'now' | date: "%Y" }} | {{site.title}} - Thanks to <a href="https://github.com/papabondan" style="color: cyan">papabondan</a></p>

  <div id="social-wrapper">
    {% for i in site.data.author.contact %}
    <a href="{{i.url}}" target="_blank">
      <img src="{{site.baseurl}}/assets/icons/{{i.title}}.png" alt="" />
    </a>
    {% endfor %}
  </div>


    <script>
      !function() { var e = document,
          t = e.createElement("script");
        t.src = "//disqus_1CzuB2SIBo.disqus.com/embed.js", t.setAttribute("data-timestamp", +new Date), (e.head || e.body).appendChild(t) }();
    </script>

    {% include javascripts.html %}
</footer>