* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --primary-color: #3498db;
  --secondary-color: #f1c40f;
  --background-color: #f9f9f9;
  --text-color: #333;
}

.dark-mode {
  --primary-color: #2c3e50;
  --secondary-color: #8e44ad;
  --background-color: #333;
  --text-color: #f9f9f9;
}

body {
  font-size: 12px;
  height: 100vh;
  font-family: "Space Grotesk", serif;
  font-optical-sizing: auto;
  position: relative;
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
  background-image: url(/src/assets/img/bg2.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
  overflow-y: auto;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px var(--text-color);
}

section main h2 {
  font-weight: 600;
  text-align: center;
  color: var(--text-color);
  text-shadow:
    0 0 1px transparent,
    0 1px 2px rgba(0, 0, 0, 0.8);
}

.menuHome {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 1.5px solid var(--text-color);
  padding: 10px;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  gap: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.menuHome:hover {
  background-color: var(--text-color);
  color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.menuHome i {
  font-size: 1.2em;
}

section footer {
  margin-top: 100px;
  width: 100%;
  padding: 20px;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.4);
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}

section footer p {
  color: var(--text-color);
  text-shadow:
    0 0 1px transparent,
    0 1px 2px rgba(0, 0, 0, 0.8);
}

section footer p a {
  font-weight: 600;
  color: var(--primary-color);
  text-decoration: none;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 5px 1px var(--text-color);
  background-color: var(--text-color);
  color: var(--background-color);
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-brand a {
  color: var(--background-color);
  text-decoration: none;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: var(--background-color);
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.space {
  margin-top: 50px;
}

.navbar-nav li {
  padding: 10px;
  margin-right: 20px;
}

.navbar-nav a {
  color: var(--background-color);
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.navbar-nav a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }

  .navbar-nav {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 20px;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.8s ease-in-out;
  }

  .navbar-nav.show {
    transform: translateX(0);
    display: flex;
  }

  .navbar-nav li {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff0000; /* Warna merah */
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px; /* Memberikan padding untuk membuat tombol lebih besar */
  border-radius: 5px; /* Membuat sudut tombol menjadi melengkung */
}

.close-button:hover {
  background-color: #cc0000; /* Warna merah yang lebih gelap saat hover */
}

@media (min-width: 769px) {
  .close-button,
  .space {
    display: none;
  }
}

#up {
  /*display: none;*/
  position: absolute;
  top: 0;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  outline: none;
}

.input::placeholder {
  color: #ccc;
  font-size: 14px;
}

.select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M5 8l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
}

.select:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  outline: none;
}

.boxCbc {
  display: grid;
  align-items: center;
  width: 100%;
  border: 1.5px solid var(--text-color);
  padding: 10px;
  color: var(--text-color);
  border-radius: 5px;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.resultCbc {
  width: 100%;
  border: 1.5px solid var(--text-color);
  border-radius: 5px;
  padding: 10px;
  color: var(--text-color);
}

.button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.button:active {
  transform: scale(0.9);
}

.button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.noteInfo {
  background-color: rgba(255, 50, 50, 0.8);
  color: var(--background-color);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.noteInfo a {
  text-decoration: none;
  color: var(--text-color);
}

.kodebufflist {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: var(--background-color);
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.pagination button.active {
  background-color: var(--text-color);
  color: var(--background-color);
}

.pagination button:hover {
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.pagination button.active:hover {
  background-color: var(--primary-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.collapse-container {
  width: 100%;
  margin: 5px;
}

.collapse-button {
  position: relative;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.collapse-button::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path d="M5 8l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-size: 20px;
  width: 20px;
  height: 20px;
  transition: transform 0.3s ease-in-out;
}

.collapse-button.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.collapse-content {
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.collapse-content.show {
  display: flex;
}

table {
  border-collapse: separate;
  width: 100%;
}

th,
td {
  border: 1px solid var(--text-color);
  padding: 8px;
  text-align: left;
  border-radius: 5px;
}

td {
  color: var(--background-color);
  background-color: rgba(0, 0, 0, 0.8);
}

th {
  background-color: #f0f0f0;
}

.center-th {
  text-align: center !important;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.text-center {
  text-align: center;
}

.mb {
  margin-bottom: 20px;
}

.mt {
  margin-top: 20px;
}
