.searchKodeItems {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.searchKodeItems:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.searchKodeItems::placeholder {
  color: #ccc;
}

.noteKodeItems {
  background-color: rgba(255, 50, 50, 0.5);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.noteKodeItems a {
  text-decoration: none;
  color: black;
}

.itemBox {
  width: 100%;
  border: 1.5px solid white;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.itemLi {
  list-style: none;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #f0f0f0;
  cursor: pointer;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:hover {
  background-color: #ddd;
}

.pagination button.active:hover {
  background-color: #0069d9;
}

.typeBox {
  width: 100%;
  display: grid;
  align-items: center;
  gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}

.typeButton {
  background-color: #3498db;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.typeButton:hover {
  background-color: #2980b9;
}

.typeButton:active {
  transform: scale(0.9);
}

.typeButton:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.grid-obtained-from {
  font-size: 0.7em;
  color: black;
  display: grid;
  grid-template-columns: 1fr;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: bold;
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 5px;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.grid-row:nth-child(even) {
  /*background-color: #f9f9f9;*/
}
