.kodebufflist {
  list-style: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin: 5px;
  padding: 5px 50px;
}

.searchKodeBuff {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
  transition: box-shadow 0.3s ease-in-out;
}

.searchKodeBuff:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.searchKodeBuff::placeholder {
  color: #ccc;
}

.noteKodeBuff {
  background-color: rgba(255,50,50,0.5);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.noteKodeBuff a {
  text-decoration: none;
  color: black;
}
