<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <main>
    {% include header.html %}
    <div class="content">{% include gototop.html %}</div>
    <section class="article">
      <div class="article-header">
        <h2 class="article-title">{{page.title}}</h2>
        <small class="date">{{page.date | date_to_string}}</small>
        <div class="categories">
          {% for c in page.categories %}
          <a href="#!" class="category">{{c}}</a>
          {% endfor %}
        </div>
      </div>
      <div class="content">{% include toc.html html=content %}</div>
      <div class="content">{{content}}</div>
      <div class="content">{% include disqus_comments.html %}</div>

    </section>
    <script>
      // Get the button:
      let mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() { scrollFunction() };

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }

      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
      }
    </script>
    {% include footer.html %}
  </main>
  {% include category-modal.html%}
</body>

</html>