<!DOCTYPE html>
<html>

<head>
  <title>Toram Tools - Ninja Scroll Database</title>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="Toram Online, Ninja Scroll, Combinations, List, Simulator, Database, Crafting" />
  <meta name="description" content="Ninja Scroll Database by Insane23." />
  <link rel="stylesheet" href="/assets/bootstrap-5-3-3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body>
  <div class="container mt-3">
    <div class="container">
      <section id="scroll-skills-container">
        <div class="row col-12  d-flex justify-content-center" id="scroll-skills">
          <div class="col-6 mt-3">
            <label>Skill 1</label>
            <select class="form-select" id="scroll-skill-1" data-prev="-1"></select>
          </div>
          <div class="col-6 mt-3">
            <label>Skill 2</label>
            <select class="form-select" id="scroll-skill-2" data-prev="-1"></select>
          </div>
          <div class="col-6 mt-3">
            <label>Skill 3</label>
            <select class="form-select" id="scroll-skill-3" data-prev="-1"></select>
          </div>
          <div class="col-12 mt-3 text-center">
            <button class="btn btn-light" id="scroll-search">Search</button>
            <button hidden class="btn btn-light" id="scroll-search-reset">Reset</button>
          </div>
        </div>
      </section>

      <section class="mt-3">
        <div class="text-center">
          <h3>Craft a Scroll</h3>
        </div>
        <form action="javascript: void(0);" class="scroll-section" id="scroll-craft-components">
          <div class="row col-12 d-flex justify-content-center">
            <div class="col-6">
              <label>Weapon 1</label>
              <select class="form-select" required id="scroll-component-1" data-prev="-1"></select>
            </div>
            <div class="col-6">
              <label>Weapon 2</label>
              <select class="form-select" required id="scroll-component-2" data-prev="-1"></select>
            </div>
            <div class="col-6 mt-3">
              <label>Weapon 3</label>
              <select class="form-select" required id="scroll-component-3" data-prev="-1"></select>
            </div>
            <div class="col-12 mt-3 text-center">
              <button class="btn btn-light" id="craft-scroll">Craft</button>
              <button hidden class="btn btn-light" type="button" id="craft-scroll-reset">Reset</button>
              <button class="btn btn-info" type="submit" id="cs-popup">Info!</button>
            </div>
            <div class="container mt-3 border rounded-4 border-5 border-light p-3" id="craft-results-container" class="hidden">
              <div id="craft-results">
                <span class="block-header">Possible Types</span>
                <span class="text-center"><span class="scroll-type" id="craft-results-type"></span> Ninjustu
                  Scroll</span></span>
                <span class="block-header">Skills</span>
                <span class="text-center"><span id="craft-results-skills"></span></span>
              </div>
            </div>
          </div>
        </form>
      </section>
    </div>

    <div class="container">
      <section class="col-12 row mt-3 border rounded-4 border-5 border-light p-3">
        <div class="text-center">
          <span>Results</span>
        </div>
        <div class="text-center">
          <div class="results-container">
            <div id="results"></div>
          </div>
          <div id="results-warning">Oops, it seems that this combination isn't possible unless one of the
            skills is random ("Any" or "Random" options). Try another combination, leaving one of the fields
            as random.
          </div>
        </div>
      </section>
    </div>
<p>Credit <a href="https://github.com/toramtools">toramtools</a></p>
  </div>

</body>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="/assets/js/scroll.js"></script>

</html>