---
layout: default
---
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets/css/main.css">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<form class="container">
  <!-- bshan 1 -->
  <div class="container mb-3 row col-12">
    <div class="col-4">
      <label for="bahan1" class="form-label">Bahan 1</label>
      <a><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
        </svg></a>
      <input class="form-control" type="number" id="bahan1" placeholder="Jumlah" name="bahan1">
    </div>
    <div class=" col-4">
      <label for="bahan1stk" class="form-label">stk/pts</label>
      <a><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
        </svg></a>
      <input class="form-control" type="number" id="bahan1stk" value="1" placeholder="30/90/etc">
    </div>
    <div class="col-4">
      <label for="bahan1harga" class="form-label">Harga</label>
      <a><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
          <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
        </svg></a>
      <input class="form-control" type="number" id="bahan1harga" placeholder="perStk">
    </div>
  </div>
  <!-- bshan 2 -->
  <div class="container mb-3 row col-12">
    <div class="col-4">
      <label for="bahan2" class="form-label">Bahan 2</label>
      <input class="form-control" type="number" id="bahan2" placeholder="Jumlah" name="bahan2">
    </div>
    <div class=" col-4">
      <label for="bahan2stk" class="form-label">stk/pts</label>
      <input class="form-control" type="number" id="bahan2stk" value="1" placeholder="30/90/etc">
    </div>
    <div class="col-4">
      <label for="bahan2harga" class="form-label">Harga</label>
      <input class="form-control" type="number" id="bahan2harga" placeholder="perStk">
    </div>
  </div>
  <!-- bshan 3 -->
  <div class="container mb-3 row col-12">
    <div class="col-4">
      <label for="bahan3" class="form-label">Bahan 3</label>
      <input class="form-control" type="number" id="bahan3" placeholder="Jumlah" name="bahan3">
    </div>
    <div class=" col-4">
      <label for="bahan3stk" class="form-label">stk/pts</label>
      <input class="form-control" type="number" id="bahan3stk" value="1" placeholder="30/90/etc">
    </div>
    <div class="col-4">
      <label for="bahan3harga" class="form-label">Harga</label>
      <input class="form-control" type="number" id="bahan3harga" placeholder="perStk">
    </div>
  </div>
  <!-- bshan 4 -->
  <div class="container mb-3 row col-12">
    <div class="col-4">
      <label for="bahan4" class="form-label">Bahan 4</label>
      <input class="form-control" type="number" id="bahan4" placeholder="Jumlah" name="bahan4">
    </div>
    <div class=" col-4">
      <label for="bahan4stk" class="form-label">stk/pts</label>
      <input class="form-control" type="number" id="bahan4stk" value="1" placeholder="30/90/etc">
    </div>
    <div class="col-4">
      <label for="bahan4harga" class="form-label">Harga</label>
      <input class="form-control" type="number" id="bahan4harga" placeholder="perStk">
    </div>
  </div>
  <!-- bshan 5 -->
  <div class="container mb-3 row col-12">
    <div class="col-4">
      <label for="bahan5" class="form-label">Bahan 5</label>
      <input class="form-control" type="number" id="bahan5" placeholder="Jumlah" name="bahan5">
    </div>
    <div class=" col-4">
      <label for="bahan5stk" class="form-label">stk/pts</label>
      <input class="form-control" type="number" id="bahan5stk" value="1" placeholder="30/90/etc">
    </div>
    <div class="col-4">
      <label for="bahan5harga" class="form-label">Harga</label>
      <input class="form-control" type="number" id="bahan5harga" placeholder="perStk">
    </div>
  </div>
  <div class="container mt-3 row col-12">
    <div class="col-6">
      <label for="Max Item Creat">Max Item Creat</label>
      <input class="form-control" type="number" id="maxcreatitem" placeholder="1/10/etc">
    </div>
    <div class="col-6">
      <label for="Need Stk">Need Stk</label>
      <input class="form-control" type="number" id="needstk" placeholder="1/10/etc">
    </div>
    <div class="mt-3 col-6">
      <label for="Status VIP">Status VIP</label>
      <select class="form-select" name="vip" id="vip">
        <option value="0.09">VIP</option>
        <option value="0.1" selected>NON - VIP</option>
      </select>
    </div>
    <div class="col-6 mt-3">
      <label for="Harga Jual">Harga Jual</label>
      <input class="form-control" type="number" id="hargajual" placeholder="Harga Jual">
    </div>
    <div class="container">
      <div class="col-12 mt-3">
        <a class="btn btn-light" type="button" id="hitung">Hitung</a>
      </div>
    </div>
  </div>
</form>
<!-- Hasil -->
<div class="container mt-5">
  <div class="container">
    <label for="Hasil!">Hasil!</label>
    <p id="hasil"></p>
  </div>
</div>

<script>
  // Specifying options for formatting
  const options = {
    style: 'decimal', // Other options: 'currency', 'percent', etc.
    minimumFractionDigits: 0,
    maximumFractionDigits: 0,
  };

  document.getElementById('hitung').addEventListener('click', function() {

    //// var nilai 
    var bahan1 = document.getElementById('bahan1').value;
    var bahan1stk = document.getElementById('bahan1stk').value;
    var bahan1harga = document.getElementById('bahan1harga').value;

    var bahan2 = document.getElementById('bahan2').value;
    var bahan2stk = document.getElementById('bahan2stk').value;
    var bahan2harga = document.getElementById('bahan2harga').value;

    var bahan3 = document.getElementById('bahan3').value;
    var bahan3stk = document.getElementById('bahan3stk').value;
    var bahan3harga = document.getElementById('bahan3harga').value;

    var bahan4 = document.getElementById('bahan4').value;
    var bahan4stk = document.getElementById('bahan4stk').value;
    var bahan4harga = document.getElementById('bahan4harga').value;

    var bahan5 = document.getElementById('bahan5').value;
    var bahan5stk = document.getElementById('bahan5stk').value;
    var bahan5harga = document.getElementById('bahan5harga').value;

    var maxcreatitem = document.getElementById('maxcreatitem').value;
    var needstk = document.getElementById('needstk').value;
    var vip = document.getElementById('vip').value;
    var hargajual = document.getElementById('hargajual').value;

    //// Penjumlahan 
    var tbahan1 = Number(bahan1) * Number(maxcreatitem) * Number(needstk);
    var tbahan1stk = Number(tbahan1) / Number(bahan1stk);
    var tbahan1harga = (Number(bahan1harga) / Number(bahan1stk)) * Number(tbahan1);

    var tbahan2 = Number(bahan2) * Number(maxcreatitem) * Number(needstk);
    var tbahan2stk = Number(tbahan2) / Number(bahan2stk);
    var tbahan2harga = (Number(bahan2harga) / Number(bahan2stk)) * Number(tbahan2);

    var tbahan3 = Number(bahan3) * Number(maxcreatitem) * Number(needstk);
    var tbahan3stk = Number(tbahan3) / Number(bahan3stk);
    var tbahan3harga = (Number(bahan3harga) / Number(bahan3stk)) * Number(tbahan3);

    var tbahan4 = Number(bahan4) * Number(maxcreatitem) * Number(needstk);
    var tbahan4stk = Number(tbahan4) / Number(bahan4stk);
    var tbahan4harga = (Number(bahan4harga) / Number(bahan4stk)) * Number(tbahan4);

    var tbahan5 = Number(bahan5) * Number(maxcreatitem) * Number(needstk);
    var tbahan5stk = Number(tbahan5) / Number(bahan5stk);
    var tbahan5harga = (Number(bahan5harga) / Number(bahan5stk)) * Number(tbahan5);

    var totalHarga = Number(tbahan1harga) + Number(tbahan2harga) + Number(tbahan3harga) + Number(tbahan4harga) + Number(tbahan5harga);

    var totalSellTax = Math.ceil((Number(hargajual) - (Number(hargajual) * Number(vip)))) * needstk;

    var notax = Number(hargajual) * needstk;

    var tax = (Number(hargajual) * Number(vip)) * needstk;

    var netProfit = totalSellTax - totalHarga;

    if (vip == 0.1) {
      statusvip = "Bukan VIP";
    } else {
      statusvip = "VIP";
    }

    if (bahan1 == "" | bahan1harga == "" | maxcreatitem == "" | needstk == "") {
      status_bahan1 = "";
    } else {
      status_bahan1 = "<br>Bahan 1 butuh " +
        tbahan1.toLocaleString('id-ID', options) +
        "pcs (" +
        tbahan1harga.toLocaleString('id-ID', options) +
        ") / " +
        Math.ceil(tbahan1stk).toLocaleString('id-ID', options) +
        "stk";
    }

    if (bahan2 == "" | bahan2harga == "" | maxcreatitem == "" | needstk == "") {
      status_bahan2 = "";
    } else {
      status_bahan2 = "<br>Bahan 2 butuh " +
        tbahan2.toLocaleString('id-ID', options) +
        "pcs (" +
        tbahan2harga.toLocaleString('id-ID', options) +
        ") / " +
        Math.ceil(tbahan2stk).toLocaleString('id-ID', options) +
        "stk";
    }

    if (bahan3 == "" | bahan3harga == "" | maxcreatitem == "" | needstk == "") {
      status_bahan3 = "";
    } else {
      status_bahan3 = "<br>Bahan 3 butuh " +
        tbahan3.toLocaleString('id-ID', options) +
        "pcs (" +
        tbahan3harga.toLocaleString('id-ID', options) +
        ") / " +
        Math.ceil(tbahan3stk).toLocaleString('id-ID', options) +
        "stk";
    }

    if (bahan4 == "" | bahan4harga == "" | maxcreatitem == "" | needstk == "") {
      status_bahan4 = "";
    } else {
      status_bahan4 = "<br>Bahan 4 butuh " +
        tbahan4.toLocaleString('id-ID', options) +
        "pcs (" +
        tbahan4harga.toLocaleString('id-ID', options) +
        ") / " +
        Math.ceil(tbahan4stk).toLocaleString('id-ID', options) +
        "stk";
    }

    if (bahan5 == "" | bahan5harga == "" | maxcreatitem == "" | needstk == "") {
      status_bahan5 = "";
    } else {
      status_bahan5 = "<br>Bahan 5 butuh " +
        tbahan5.toLocaleString('id-ID', options) +
        "pcs (" +
        tbahan5harga.toLocaleString('id-ID', options) +
        ") / " +
        Math.ceil(tbahan5stk).toLocaleString('id-ID', options) +
        "stk";
    }

    document.getElementById('hasil').innerHTML =
      "Status kamu " +
      statusvip +
      status_bahan1 +
      status_bahan2 +
      status_bahan3 +
      status_bahan4 +
      status_bahan5 +
      "<br>Total Modal " +
      totalHarga.toLocaleString('id-ID', options) +
      "<br>Harga Jual - TAX " +
      notax.toLocaleString('id-ID', options) +
      " - " + Math.ceil(tax).toLocaleString('id-ID', options) +
      " (" + Math.ceil(totalSellTax).toLocaleString('id-ID', options) + ")" +
      "<br>Net Profit " +
      netProfit.toLocaleString('id-ID', options);
  });
</script>